export REGISTRY_URL=
export REGISTRY_PORT=
export REGISTRY_USERNAME=admin
export REGISTRY_PASSWORD=
export GL_REGISTRY_USERNAME=
export GL_REGISTRY_TOKEN=
export GL_REGISTRY_URL=
export GL_REGISTRY_PORT=443
export GL_REGISTRY_IMAGE=
